{% extends "layout.html" %}
{% block title %}Kategoriat{% endblock %}
{% block content %}
{{ super() }}

<link rel="stylesheet" href="/static/bootstrap_accordion.css"/>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.js"></script>


<br>
<div style="text-align: center;">
<h2>Kategoriat</h2>
</div>
<br>
<br>
{% include "Forms/new_category_form.html" %}

<div class="notice-text">
    {% if notice %}
        {{ notice }}
    {% endif %}
</div>
<br>

<hr>

<p>

<div class="panel-group" id="accordion">
    {% for key,value in categories.items() %}
    <div class="panel panel-default">

        <div class="panel-heading">
   
            
            <span data-toggle="collapse" data-target="#r{{loop.index}}" role="button">
                <strong>{{key}}</strong> &ensp;
                <span class="badge badge-category">{{value["count"]}}</span>
            </span>


            <div style="display: flex;float: right;">

                <form action="/categories/{{value["id"]}}/delete" method="POST" onsubmit="return confirm("Haluatko varmasti poistaa?");"> 
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="submit" style="height: 22.5px" class="btn btn-delete" value="Poista">
                </form>
     
            </div>

          
    
        </div>

        <div id="r{{loop.index}}" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table" style="width: 70%;">
                    <tbody>
                    {% for r in value["restaurants"] %}
                        <tr>
                            <td>{{r[0]}}</td>
                            <td>{{r[1]}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    {% endfor %}
  
</div> 



</p>


{% endblock %}