{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}

{% block content %}


    <div class="frontpage-login">
        {% if session.get("username", None) is none %}
            <strong>Tervetuloa ravintolasovellukseen!</strong>
            {% include "Forms/login_form.html" %}
            <a href="/register">Rekisteröidy</a>
        {% else %}
            Tervetuloa {{ session.get("username") }}!
            <br><br>
            Olit viimeksi kirjautuneena:<br>
            {% if last_visit %}
            {{ last_visit }}
            {% endif %}
        {% endif %}
        
    </div>




{% endblock %}