{% extends "layout.html" %}

{% block content %}
{{ super() }}
<br>
<div style="text-align: center;">
    <h2>Arviot</h2>
</div>
<br>
<div class="content-subpage">
    <p>
        <h3>{{ restaurant.name}}</h3>
    </p>

    <p>
        {{ restaurant.location.street}}<br>
        {{ restaurant.location.zip}}<br>
        {{ restaurant.location.city}}
    </p>
    <br>
    {% include "Forms/rating_form.html" %}

    <br><br>
    <a href="{{ session["previous_url"] }}">Takaisin</a> 
</div>
{% endblock %}