{% extends "layout.html" %}
{% block title %}Arviot{% endblock %}
{% block content %}
{{ super() }}
<br>
<div style="text-align: center;">
<h2>Arviot</h2>
</div>
<br>
{% include "Forms/restaurant_search_form.html" %}

{% if notice %}
    {{ notice }}
{% endif %}

<br>
<table class="table accordion table-striped table-hover restaurants">

    <thead>
        <tr>
            <th style="min-width:25%">Ravintola</th>
            <th style="text-align:center">Kaupunki</th>
            <th style="text-align:center">Arvostelut</th>
            <th style="text-align:center">Keskiarvo</th>
            {% if session.get("username", None) %}
            <th></th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for r in ratings %}
        <tr>
            <td><a href="restaurants/{{ r.id }}">{{ r.name }}</a></td>
            <td style="text-align:center">{{ r.location.city }}</td>
            <td style="text-align:center">{{ r.count }}</td>
            <td style="text-align:center">{{ "%0.1f"| format(r.average|float) }}</td>
            {% if session.get("username", None) %}
                <td style="text-align:right">
                    <a href="/restaurants/{{ r.id }}/ratings">Näytä arvostelut</a>
                    &nbsp;
                    <a href="/ratings/new/{{ r.id }}">Arvostele</a>
                </td>  
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}