{% extends "layout.html" %}
{% block content %}

{{ super() }}

<br>
<div style="text-align: center;">
    <h2>Ravintolat</h2>
</div>

<div class="content-subpage">
    <form action="/restaurants/{{ restaurant['id'] }}/delete" method="POST" onsubmit="return confirm('Haluatko varmasti poistaa?');"> 
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Poista" class="btn btn-delete">
    </form>
    <br>
    {% include "Forms/restaurant_form.html" %}
    <br>
    <a href="/restaurants">Takaisin</a>
</div>

{% endblock %}