{% extends "layout.html" %}

{% block content %}
{{ super() }}
<br>
<div style="text-align: center;">
    <h2>Arviot</h2>
</div>

<div class="content-subpage">
    <h3>{{ res.name }}</h3>
    {{ res.location.street }}<br>
    {{ res.location.zip }}<br>
    {{ res.location.city }}<br>
    <br>
    
    {% if session.get("admin", False) %}

        {% if error %}
        <div class="error-text ">
                {{ error }}
        </div>
        {% endif %}
        {% if success %}
        <div class="success-text">
                {{ success }}
        </div>
        {% endif %}
  
    {% endif %}
    <br>
    <table>
        {{ ratings.name }}
        {% for r in ratings %}
            <hr>
            <p>
                {{ r.username }} - {{ r.created.strftime("%d.%m.%Y %H:%M") }}: 
            </p>
            <p>Arvosana: {{ r.stars }}<br></p>

            <div style="overflow-wrap: break-word;">
                {% if r.comment != "" %}
                    <p>{{ r.comment }}<br></p>
                {% endif %}
            </div>
            {% if session.get("admin", False) %}
            <br>
            <form action="/ratings/{{ r.id }}/delete" method="POST" onsubmit="return confirm("Haluatko varmasti poistaa?");"> 
                <input type="hidden" name="restaurant_id" value="{{ res.id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="Poista" class="btn btn-delete">
            </form>
            {% endif %}
        {% endfor %}
    </table>
    <hr>
    <br>
    <a href="/ratings">Takaisin</a>
</div>
{% endblock %}