{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}
<h2>Rekisteröidy</h2>
    {% if notice %}
    <div class="error">{{ notice | safe }}</div>
    {% endif %}
    <form action="/register" method="POST">
    <p>
        <label>Tunnus:</label><br>
        <input type="text" name="username">
    </p>
    <p>
        <label>Salasana:</label><br>
        <input type="password" name="password1"><br>
        <label>Salasana uudestaan:</label><br>
        <input type="password" name="password2">
    </p>
    <p>
        <input type="submit" value="Rekisteröidy" style="width:158px;">
    </p>
    </form>

{% endblock %}