{% extends "restaurants.html" %}
{% block content %}
{{ super() }}


{% include 'search.html' %}

<br>
<table class="table accordion table-striped table-hover">
<col width="25%">
<col width="25%">
<col width="25%">


    <tr>
        <th>Ravintola</th>
        <th>Osoite</th>
        <th>Aukioloajat</th>
        {% if session.get("username", None) %}
        <th></th>
        {% endif %}
    </tr>

    {% for r in restaurants %}
    <tr>
        <td><a href="/restaurants/{{ r.id }}">{{ r.name }}</a></td>
        <td>{{ r.location.street }}, {{ r.location.city }}</td>
        <td>{{ r.opening_hours }}</td>
        {% if session.get("username", None) %}
        <td align="right">
            <a href="/ratings/new/{{ r.id }}">Arvostele</a>
            {% if session.get("admin", False) %}
            &nbsp;<a href="/restaurants/{{ r.id }}/edit">Muokkaa</a>
            {% endif %}
        </td>  
        {% endif %}
    </tr>
    {% endfor %}

</table>

<script src="{{ url_for('static', filename='checkboxes.js') }}"></script>

{% endblock %}