{% extends "restaurants.html" %}
{% block content %}
{{ super() }}

<br>

<div id="map" style="height: 450px; width: 100%;"></div>

<script src="{{ url_for('static', filename='map.js') }}" lat="{{ user_lat }}" lon="{{ user_lon }}"></script>

<script type="text/javascript">

    {% for marker in markers %}
      var m = L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
      m.bindPopup("{{ marker['info'] | safe }}")
      m.bindTooltip("{{ marker['name'] | safe }}");
    {% endfor %}

  </script>

{% endblock %}