{% extends "restaurants.html" %}
{% block content %}

{{ super() }}
<form action="/restaurants/send" method="POST">
    <p>
        <h4>Nimi</h4>
        <input type="text" name="name"><br>
    </p>
    <p>
        <h4>Kuvaus</h4>
        <textarea name="description" rows="2" cols="50"></textarea><br>
    </p>
    <p>
        <h4>Sijainti</h4>
        <label >Katuosoite:</label><input type="text" name="street"><br>
        <label >Postinumero:</label> <input type="text" name="zip"><br>
        <label >Kaupunki:</label> <input type="text" name="city"><br>
    </p>
    <p>
    <h4>Aukioloajat</h4>
    <textarea name="opening_hours" rows="6" cols="25">
Ma: 
Ti: 
Ke: 
To: 
Pe: 
La: 
Su: 
    </textarea>
</p>
    <!-- <p>
        Kuva
        <input name="file" type="file">
    </p> -->
    <br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Lähetä">
</form>
{% endblock %}