<form action="/ratings/send" method="POST">    
    <p>
        <h4>Arvosana</h4>
        <input type="radio" name="stars" value="1" required>1
        <input type="radio" name="stars" value="2">2
        <input type="radio" name="stars" value="3">3
        <input type="radio" name="stars" value="4">4
        <input type="radio" name="stars" value="5">5
    </p>
    <br>
    <p>
        <h4>Kommentti (1000 merkkiä)</h4>
        <textarea name="comment" rows="5" cols="50" maxlength="1000"></textarea>
    </p>
    <br>
    <input type="hidden" name="id" value="{{ restaurant.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" class="btn btn-confirm" value="Lähetä">
</form>
