<link rel="stylesheet" href="/static/bootstrap_dropdown.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>

<br>
<div class="search-panel">

        <form action="/{{ entity }}/search" method="POST">
        <div class="search-fields-group">
            <div class="search-field">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span>Kategoria</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1">
                        {% for c in categories %}
                        <li>
                            <label>
                                <input type="checkbox" name="categories" value="{{ c.id }}" {% if c.id in selected_categories %}{{ 'checked' }}{% endif %}> {{ c.name }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="search-field">
                Kaupunki: <input type="text" name="city" size="15" value="{{city}}">
            </div>
            <div class="search-field">
                Sana: <input type="text" name="word" size="15" value="{{search_text}}" maxlength="50">
            </div>
        </div>
 
        <div class="search-buttons-group">

            <div class="search-button">
                    <input type="submit" value="Hae" class="btn btn-search">
                </form>
            </div>
            <div class="search-button">
                <form action="/{{ entity }}" method="GET">
                    <input type="submit" value="Poista rajaukset" class="btn btn-delete">
                </form>
            </div>
        </div>

</div>
    

<script src="{{ url_for('static', filename='/scripts/checkboxes.js') }}"></script>