<link rel="stylesheet" href="/static/bootstrap_dropdown.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>

<br>
<div class="container">
    <div class="row">
        <form action="/{{ entity }}/search" method="POST"> 

            <div class="dropdown" style="float: left">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 10em">
                    <span>Kategoria</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1">
                    {% for c in categories %}
                    <li >
                        <label>
                            <input type="checkbox" name="categories" value="{{ c.id }}" {% if c.id in selected_categories %}{{ 'checked' }}{% endif %}> {{ c.name }}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div style="float: left; margin-left:0.5em">   
                Kaupunki: <input type="text" name="city" size="17.5" value="{{city}}">
            </div>
            <div style="float: left; margin-left:0.5em; margin-right: 0.5em;">  
                Sana: <input type="text" name="word" size="17.5" value="{{search_text}}">
            </div> 
            <div>
                <input type="submit" value="Hae" class="btn btn-primary">
            </div>
        </form>
            
    </div>  
    <div class="row">
        
        <form action="/{{ entity }}" method="GET">
            <input type="submit" value="Poista rajaukset" class="btn btn-warning">
        </form>
    </div>
</div>
    

<script src="{{ url_for('static', filename='checkboxes.js') }}"></script>